* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

main {
    
    background-color: lightblue;



}

.blocco {
    width: 200px;
    height: 100px;
    display: inline-block;
    background-color: pink;

}
.blocco:first-child {
    background-image:
}
.blocco:nth-child(2) {
    background-image:
    background-size: cover;
}
.blocco:nth-child(3) {

}
