* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blocco {
    width: 200px;
    height: 250px;
    display: inline-block;
    background-color: pink;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}
.fas {
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);

}
